# Python Language Intro (Part 1)

## Agenda

1. Language overview
2. White space sensitivity
3. Basic Types and Operations
4. Statements & Control Structures
5. Functions
6. OOP (Classes, Methods, etc.)
7. Immutable Sequence Types (Strings, Ranges, Tuples)
8. Mutable data structures: Lists, Sets, Dictionaries

## 1. Language overview

Note: this is *not* a language course! Though I'll cover the important bits of the language (and standard library) that are relevant to class material, I expect you to master the language on your own time.

Python ...

- is *interpreted*
- is *dynamically-typed* (vs. statically typed)
- is *automatically memory-managed*
- supports *procedural*, *object-oriented*, *imperative* and *functional* programming paradigms
- is designed (mostly) by one man: Guido van Rossum (aka “benevolent dictator”), and therefore has a fairly *opinionated* design
- has a single reference implementation (CPython)
- version 3 (the most recent version) is *not backwards-compatible* with version 2, though the latter is still widely used
- has an interesting programming philosophy: "There should be one — and preferably only one — obvious way to do it." (a.k.a. the "Pythonic" way) — see [The Zen of Python](https://www.python.org/dev/peps/pep-0020/)

In [3]:
print('hello world!')

hello world!

## 2. White Space Sensitivity

Python has no beginning/end block markers! Blocks must be correctly indented (4 spaces is the convention) to delineate them.

In [4]:
if True:
    print('In if-clause')
else:
    print('In else-clause')

In if-clause

In [5]:
for x in range(5):
    print('In for loop body')

In for loop body
In for loop body
In for loop body
In for loop body
In for loop body

In [6]:
def foo():
    print('In function definition')

## 3. Basic Types and Operations

In Python, variables do not have types. *Values* have types (though they are not explicitly declared). A variable can be assigned different types of values over its lifetime.

In [7]:
a = 2 # starts out an integer
print(type(a)) # the `type` function tells us the type of a value

a = 1.5
print(type(a))

a = 'hello'
print(type(a))

<class 'int'>
<class 'float'>
<class 'str'>

In [8]:
# of course, we can also ask for the types of values directly

print(type(2), type(1.5), type('hello'))

<class 'int'> <class 'float'> <class 'str'>

Note that all the types reported are *classes*. I.e., even types we are accustomed to thinking of as "primitives" (e.g., integers in Java) are actually instances of classes. **All values in Python are objects!**

There is no dichotomy between "primitive" and "reference" types in Python. **All variables in Python store references to objects.**

### Numbers

In [9]:
# int: integers, unlimited precision
(
    1,
    500,
    -123456789,
    6598293784982739874982734
)

(1, 500, -123456789, 6598293784982739874982734)

We are evaluating a *tuple* containing four different integers in the cell above so that we can see all the values in the result cell. In a cell containing multiple "top-level" expressions, only the value of the last one will be shown in the result cell after evaluation. E.g.,

In [10]:
1
500
-123456789
6598293784982739874982734

6598293784982739874982734

We'll talk more about tuples later when we get to sequence types.

In [11]:
# basic operations
(
    1 + 2,
    1 - 2,
    2 * 3,
    2 * 3 + 2 * 4,
    2 / 5,
    2 ** 100, # exponentiation
    abs(-25)
)

(3, -1, 6, 14, 0.4, 1267650600228229401496703205376, 25)

In [12]:
# modulus (remainder) and integer division
(
    10 % 3,
    10 // 3
)

(1, 3)

In [13]:
# floating point is based on the IEEE double-precision standard (limit to precision!)
(
    2.5,
    -3.14159265358924352345,
    1.000000000000000000000001
)

(2.5, -3.1415926535892433, 1.0)

In [14]:
# mixed arithmetic "widens" ints to floats
(
    3 * 2.5,
    1 / 0.3
)

(7.5, 3.3333333333333335)

### Booleans

In [15]:
(
    True, 
    False
)

(True, False)

In [16]:
not True

False

In [17]:
(
    True and True,
    False and True,
    True and False,
    False and False
)

(True, False, False, False)

In [18]:
(
    True or True,
    False or True,
    True or False,
    False or False
)

(True, True, True, False)

In [19]:
# relational operators
(
    1 == 1,
    1 != 2,
    1 < 2,
    1 <= 1,
    1 > 0,
    1 >= 1,
    1.0 == 1,
    1.0000000000000000001 == 1,
    type(1) == type(1.0)
)

(True, True, True, True, True, True, True, True, False)

In [20]:
# chained relational operators
x = 10
y = 20
z = 30
(
    0 <= x < 100,
    0 <= x and x < 100,
    x < y < z < 40,
    x <  y and y < z and z < 40,
    x < z > y,
    x < z and z > y,
)

(True, True, True, True, True, True)

In [21]:
# object identity (reference) testing
x = 1000
y = 1000
(
    x == x,   # value comparison
    x is x,   # identity comparison
    x == y,
    x is y,
    id(x) == id(y) # `id` returns the memory address (aka "identity") of an object
)

(True, True, True, False, False)

In [22]:
# but Python caches small integers! so ...
x = 5
y = 5
x is y

True

This caching behavior is ok because integer values are *immutable*. I.e., it is not possible to alter any given integer value --- though you can certainly compute a different integer value from a given one. I'll have more to say about immutable types later!

### Strings

In [23]:
# whatever strings you want
(
    'hello world!',
    "hello world!"
)

('hello world!', 'hello world!')

In [24]:
# convenient for strings with quotes:
print('she said, "how are you?"')
print("that's right!")

she said, "how are you?"
that's right!

In [25]:
(
    'hello' + ' ' + 'world',
    'thinking... ' * 3,
    '*' * 80
)

('hello world',
 'thinking... thinking... thinking... ',
 '********************************************************************************')

Strings are an example of a *sequence* type; https://docs.python.org/3.5/library/stdtypes.html#typesseq

Other sequence types are: *ranges*, *tuples* (both also immutable), and *lists* (mutable).

All immutable sequences support the [common sequence operations](https://docs.python.org/3/library/stdtypes.html#common-sequence-operations), and mutable sequences additionally support the [mutable sequence operations](https://docs.python.org/3/library/stdtypes.html#mutable-sequence-types)

In [26]:
# indexing
greeting = 'hello there'
(
    greeting[0],
    greeting[6],
    len(greeting),
    greeting[len(greeting)-1]
)

('h', 't', 11, 'e')

In [27]:
# negative indexes
(
    greeting[-1],
    greeting[-2],
    greeting[-len(greeting)]
)

('e', 'r', 'h')

In [28]:
# "slices"
(
    greeting[0:11],
    greeting[0:5],
    greeting[6:11]
)

('hello there', 'hello', 'there')

In [29]:
# default slice ranges
(
    greeting[:11],
    greeting[6:],
    greeting[:]
)

('hello there', 'there', 'hello there')

In [30]:
# slice "steps"
(
    greeting[0:11:2],
    greeting[::3],
    greeting[6:11:2]
)

('hlotee', 'hltr', 'tee')

In [31]:
# negative steps
greeting[::-1]

'ereht olleh'

In [32]:
# other sequence ops
(
    greeting.count('e'),
    greeting.index('e'),
    greeting.index('e', 2),
    'e' in greeting,
    'z' not in greeting,
    min(greeting),
    max(greeting)
)

(3, 1, 8, True, True, ' ', 't')

Strings also support a large number of [type-specific methods](https://docs.python.org/3/library/stdtypes.html#string-methods).

### Format Strings

We frequently want to interpolate values found in variables or computed using expressions into strings. We can do this with *format strings*.

In [33]:
adjective = 'frigid'
adverb = 'hastily'
noun = 'Alfred'
number = 8
verb = 'eat'

sentence = f'It was a {adjective} day when {noun} decided to {adverb} {verb} {number*100} lines of code.'

print(sentence)

It was a frigid day when Alfred decided to hastily eat 800 lines of code.

We can also use the `format` string method.

In [34]:
sentence = 'It was a {} day when {} decided to {} {} {} lines of code.'.format(adjective, noun, adverb, verb, number*100)

print(sentence)

It was a frigid day when Alfred decided to hastily eat 800 lines of code.

### Type "Conversions"

Constructors for most built-in types exist that create values of those types from other types:

In [35]:
(
    # making ints
    int('123'),
    int(12.5),
    int(True),

    # floats
    float('123.123'),

    # strings
    str(123)
)

(123, 12, 1, 123.123, '123')

### Operators/Functions as syntactic sugar for special methods

In [36]:
a = 5
b = 6
a + b

11

In [37]:
a.__add__(b)

11

In [38]:
class Addable:
    def __init__(self, val):
        self.val = val
        
    def __add__(self, other):
        return Addable(self.val + ' and ' + other.val)
    
    def __repr__(self):
        return self.val

In [39]:
a1 = Addable('Peanut butter')
a2 = Addable('Jelly')
a1.__add__(a2)

Peanut butter and Jelly

In [40]:
a1 + a2

Peanut butter and Jelly

In [41]:
(
    len('hello world'),
    'hello world'.__len__()
)

(11, 11)

### `None`

**`None`** is like "null" in other languages

In [42]:
# often use as a default, initial, or "sentinel" value

x = None

Notebooks do not display the result of expressions that evaluate to `None`

In [43]:
x

Though you can explicitly print out a `None` value to "see" it:

In [44]:
print(x)

None

Functions that don't appear to return anything technically return `None`

In [45]:
print(print('Hello'))

Hello
None

### "Truthiness"

All objects in Python can be evaluated in a Boolean context (e.g., as the condition for an `if` statement). Values for most types act as `True`, but some act (conveniently, usually) as `False`.

In [46]:
if True: # try numbers, strings, other values here
    print('tests as True')
else:
    print('tests as False')

tests as True

What tests as `False`?

In [47]:
bool(None)

False